.container {
  position: relative;
}

/* To make work: border + padding + margin = 0 */
.container:hover {
  cursor: pointer;
  padding: 2px;
  border: 2px solid black;
  border-radius: 4px;
  margin: -4px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: absolute;
  width: 128px;
  left: -128px;
  display: none;
  cursor: default;
}

.container:hover .modal {
  display: block;
}

.modal:hover .modal {
  display: block;
}
