.visualizer {
  width: 100%;
  height: 100%;
  position: relative;
}

.resume {
  width: 8.5in;
  min-height: 11in;
  padding: 0.5in;
  background-color: #fff;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  transform-origin: top left;
  left: 50%;
  top: 50%;
}

@media print {
  @page {
    size: letter;
  }
  .resume {
    transform: none !important;
  }
}
