.container {
  display: flex;
  flex-direction: column;
  width: 20rem; /* TODO: hardcoded */
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.multiInput {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-light-gray);
}